body {
    font-family: Montserrat;
    margin: 0;
}

header {
    padding: 180px 0 140px;
    background-image: url("/assets/headerHero.jpg");
    background-size: cover;
    background-position: center;
    h1 {
        font-weight: bold;
        font-size: 3rem;
    }
    p {
        font-family: "Source Sans Pro";
        font-size: 1.5rem;
    }
    img {
        width: 300px;
        border: 3px solid #666;
    }
}

section {
    padding: 50px 0;
}

.portfolio {
    .col-portfolio {
        margin-right: -10px;
        margin-left: -10px;
    }
    .card-portfolio {
        border-radius: 15px;
        margin-bottom: 10px;
        z-index: 1;
        min-height: 300px;
        padding: 30px;
        background-size: cover;
        background-position: center;
        border-radius: 15px;
        border: 0;
    }
    .bg-one {
        background-image: url("/assets/portfolio-1.jpg");
    }
    .bg-two {
        background-image: url("/assets/portfolio-2.jpg");
    }
    .bg-three {
        background-image: url("/assets/portfolio-3.jpg");
    }
    .bg-four {
        background-image: url("/assets/portfolio-4.jpg");
    }
}

.navbar-fixed-top.scrolled {
    background-color: #495057 !important;
    transition: background-color 300ms linear;
}

h2 {
    font-weight: 600;
    margin-bottom: -3px;
}

.subtitle {
    font-size: 20px;
    font-family: "Source Sans Pro";
}

.contact-item {
    background: #fff;
    position: relative;
    transition: all 0.4s;
}

.contact-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    background: none;
    border: 2px solid #fff;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0;
    transition: all 0.3s;
}

.contact-item i {
    color: #fbd214;
    transition: all 0.3s;
}

.contact-item:hover {
    background: #fbd214;
    color: #fff;
}

.contact-item:hover i,
.contact-item:hover .contact-item-title,
.contact-item:hover p {
    color: #fff;
}

.contact-item:hover::before {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
}

.contact {
    h4 {
        font-size: medium;
    }
    p {
        font-size: small;
    }
}

.social-link {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 2px solid #ddd;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #aaa;
    transition: all 0.3s;
    font-size: 0.8rem;
}

.social-link:hover,
.social-link:focus {
    background: #fbd214;
    color: #fff;
    text-decoration: none;
    border-color: #fbd214;
}